{% extends "blog/index.html" %}
<div class="row">
    <div class="col-sm-12">
        <div class="logowanie">
          {% load i18n %}
          {% block content %}
          <p>{% blocktrans %}Jezeli nie masz konta, musisz najpierw:
          <a href="{{ signup_url }}">Zarejestrowac sie</a> {% endblocktrans %}</p>

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
          </form>

          {% endblock %}
        </div>
    </div>
</div>
