A:link {
    text-decoration: none;
    color: gray
}

A:visited {
    text-decoration: none;
    color: gray
}

A:active {
    text-decoration: none;
    color: gray
}

A:hover {
    text-decoration: underline;
    color: black
}

a:link img {
    border: none
}

a:visited img {
    border: none
}

a:active img {
    border: none
}

a:hover img {
    border: none
}

A.menu:link {
    text-decoration: none;
    color: black
}

A.menu:visited {
    text-decoration: none;
    color: black
}

A.menu:active {
    text-decoration: none;
    color: black
}

A.menu:hover {
    text-decoration: none;
    color: purple
}

A.foot:link {
    text-decoration: none;
    color: gray
}

A.foot:visited {
    text-decoration: none;
    color: gray
}

A.foot:active {
    text-decoration: none;
    color: gray
}

A.foot:hover {
    text-decoration: none;
    color: red
}

h5 {
  font-family: verdana;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  color: #000;
}
h4 {
    font-family: verdana;
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
}

h3 {
    font-family: verdana;
    font-size: 20pt;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #000000;
}

h2 {
    font-family: verdana;
    font-size: 15pt;
    color: #000000;
    text-decoration: none;
}

h1 {
    font-weight: bold;
    font-family: verdana;
    text-align: center;
    font-size: 15pt;
    color: gray;
    text-decoration: none;
}

input {
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
}

#container {
    margin-right: auto;
    margin-left: auto;
}

.text {
    display: inline-block;
    float: left;
    padding: 10px;
    font-family: Verdana;
    text-align: justify;
    font-size: 10pt;
    text-decoration: none;
}

.post {
    display: inline-block;
    font-family: Verdana;
    width: 100%;
    text-align: center;
    padding: 2px;
    font-size: 10pt;
    min-height: 1000px;
}

.title {
    display: inline-block;
    font-weight: bold;
    font-family: Verdana;
    width: auto;
    text-align: left;
    padding: 5px;
    font-size: 10pt;
}

.postDiv {
  height: 375px;
}

.break {
  margin-bottom: 5px;
}

@media (min-width: 1520px) {
  .postDiv {
    height: 300px;
  }
}

@media (min-width: 1201px) and (max-width: 1519px){
  .postDiv {
    height: 340px;
  }
}

@media (min-width: 901px) and (max-width: 1199px) {
  .postDiv {
    height: 570px;
  }
}

@media (min-width: 768px) and (max-width: 901px) {
  .postDiv {
    height: 590px;
  }
}

@media (max-width: 768px) {
  .ad {
    width: 100%;
  }
  .postDiv {
    height: auto;
  }
}
.published {
    display: inline-block;
    float: left;
    min-width: 5%;
    padding: 10px;
    font-family: Verdana;
    text-align: left;
    font-size: 9pt;
    text-decoration: none;
}

.ad {
    border: 1px solid black;
    display: inline-block;
    font-family: "Courier New";
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: left;
}

.ad>ul>a>img {
    border: 2px solid black;
    -webkit-filter: grayscale(100%);
    width: 100%;
    padding: 2px;
    margin-bottom: 5px;
}

.ad>ul>a>img:hover {
    border: 2px solid gold;
    -webkit-filter: none;
    padding: 0px;
}

.header2 {
    font-family: "Times New Roman";
    padding: 0px;
    text-align: center;
    background-color: darkgray;
    color: black;
}

.logowanie {
    position: fixed;
    z-index: 1;
    height: 80px;
    top: 0%;
    border: 1px solid white;
    background-color: black;
    display: inline-block;
    font-family: "Courier New";
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.loginPanel {
  color: white;
}

.loginPanel > li > a:hover {
  color: red;
}

#logo {
    font-family: verdana;
    text-align: center;
    padding: 5px;
    font-size: 30pt;
    color: white;
    text-decoration: none;
    background-color: black
}

.footer {
    float: left;
    width: 100%;
    font-family: verdana;
    text-align: center;
    font-size: 10pt;
    color: white;
    text-decoration: none;
    background-color: #000;
}

#footer1 {
    float: left;
    display: inline-block;
    min-width: 100px;
    margin-left: 15%;
    font-family: verdana;
    text-align: left;
    font-size: 10pt;
    color: white;
    text-decoration: none;
    background-color: #000000;
}

#footer2 {
    float: left;
    display: inline-block;
    min-width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: verdana;
    text-align: left;
    font-size: 10pt;
    color: white;
    text-decoration: none;
    background-color: #000000;
}

#footer3 {
    float: left;
    display: inline-block;
    min-width: 100px;
    margin-right: 10%;
    font-family: verdana;
    text-align: left;
    font-size: 10pt;
    color: white;
    text-decoration: none;
    background-color: #000000;
}

.terminarz {
    display: inline-block;
    min-width: 200px;
    max-width: 30%;
    font-family: verdana;
    text-align: center;
    font-size: 10pt;
    color: black;
    text-decoration: none;
}

.terminarz h1 {
    font-family: verdana;
    text-align: center;
    font-size: 20pt;
    color: gray;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
}

.tabelka1 {
    margin-left: 5px;
    margin-right: 15px;
    text-align: center;
    display: table;
    min-width: 30%;
    max-width: 75%;
    font-family: verdana;
    color: gray;
    text-decoration: none;
}

.tabelka2 {
    display: table;
    width: 100%;
    font-family: verdana;
    text-align: center;
    color: gray;
    text-decoration: none;
}

.srodek {
    margin-left: 15px;
    , margin-right: auto;
    display: inline-block;
    min-width: 10%;
    max-width: 30%;
    font-family: verdana;
    text-align: center;
    font-size: 10pt;
    color: black;
    text-decoration: none;
}

.tabelka1 h1 {
    font-family: verdana;
    text-align: center;
    font-size: 10pt;
    color: midnightblue;
    text-decoration: none;
}

.tabelka1 h2 {
    font-family: verdana;
    font-size: 7pt;
    color: #000000;
    text-decoration: none;
}

.tabelka2 h1 {
    font-family: verdana;
    text-align: center;
    font-size: 12pt;
    color: midnightblue;
    text-decoration: none;
}

.tabelka2 h2 {
    font-family: verdana;
    font-size: 9pt;
    color: #000000;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 19px;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

ol a {
    display: block;
    text-decoration: none;
    padding: 0px;
    color: black
}

ol>li {
    float: left;
    background-color: ghostwhite;
    color: black;
    width: 150px;
    margin-left: 1px;
    height: 2em;
}

ol>li:hover {
    background-color: #eee;
}

ol>li:hover>a {
    color: purple;
}

ol>ul>li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ol>li:first-child {
    margin-left: 0px
}

ol>li>ul>li {
    position: relative;
    background-color: #FFFFFF;
}

ol>li>ul>li:hover {
    position: relative;
    background-color: #000000;
}

ol>li>ul>li>a {
    border: 1px solid #000000;
}

ol>li>ul {
    display: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ol>li:hover>ul {
    display: block;
}

li {
    list-style-type: none
}

.tr_color:hover {
    background-color: black;
    color: white;
}

.tr_color:hover>td {
    border: 2px solid red;
}

A.link_table:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: verdana;
    font-size: 12pt;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid black;
}

#logo {
    min-height: 50px;
    border: 1px solid gold;
    padding: 3px;
    margin-bottom: 2px;
}

#logo_text {
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    background-color: black;
    max-width: 500px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    #logo {
        clear: both;
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    #logo_text {
        display: block text-align: center;
        margin: 0 auto;
        font-size: 30px;
        color: white;
        background-color: black;
        max-width: 100%;
        font-weight: bold;
        text-transform: uppercase;
    }
    .table-mini {
        font-size: 10px;
    }
}
.center {
    text-align: center;
}

.foot-tabs {
    border-bottom: 1px solid #ddd;
}

.foot-tabs>li {
    display: inline-block;
    margin-bottom: -1px;
    color: white;
    text-align: left;
}

.foot-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.foot-text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
}

@media (min-width: 768px) {
    .foot-text {
        display: inline-block;
        margin-right: 15px;
        margin-left: 15px;
    }
}

.foot {
    color: white;
    text-align: center;
    font-size: 10px;
}

.borderDash {
    border: 1px dashed black;
}

.img-responsive {
    border: 1px solid gray;
}

.img-width-100 {
    width: 100%;
}

#player {
    width: 100%;
    height: 100%;
}

.table-team {
    font-size: 12px;
}

.active {
    font-weight: bold;
}

.gamesPlayed {
    font-size: 10px;
}

.tr_color > td:last-child {
    font-weight: bold;
}

.tr_color > td:first-child {
    font-weight: bold;
}

.link_table {
  color: gray;
  cursor: pointer;
  cursor: hand;
}

.middle_text {
   vertical-align: middle !important;
   font-weight:bold;
}

.deletePaddingLeft {
    padding-left: 0px;
}

.modalPhoto {
  width: 100px;
  border: 2px solid black;
  float:left;
  margin: 10px;
}

.modalOpis {
  font-size: 12px;
  font-family: Verdana;
  text-align: justify;
  padding: 10px;
}

.match {
  font-size: 12px;
  font-family: Verdana;
  text-align: left;
  padding: 10px;
  margin: 0 auto;
  width: 300px;
}
.match > li {
  border-bottom: 1px solid black;
}

.goal {
  float: right;
  font-weight: bold;
  color: blue;
  margin-right: 5px;
}

.time {
  float: right;
  color: black;
}

.score {
  font-size: 20px:
  font-weight: bold;
  color: black;
}

.green {
  color: green;
}

.red {
  color: red;
}
