#tactic_box {
    width: 216px;
    height: 330px;
    background: url({% static "blog/tactics/tactic.jpg" %});
    float: left;
}
.players {
    font-weight: bold;
    text-align: center;
}
.draggable {float: left; ; }
#draggable { cursor: n-resize; }
#tactic_box  li {
    cursor: pointer;
    float: left;
    list-style-type: none;
    padding: 2px;
}
#list li {
    cursor: pointer;
    float: left;
    list-style-type: none;
    padding: 2px;
}
.gk {
  background-color: gray;
  position: absolute;
  height: 40px;
  width: 20px;
  left: 112px;
  top: 284px;
}
.mf {
  background-color: gray;
  position: absolute;
  height: 35px;
  width: 29px;
  left: 182px;
  top: 134px;
}
.mf2 {
  background-color: gray;
  position: absolute;
  height: 35px;
  width: 29px;
  left: 35px;
  top: 134px;
}
.mf3 {
  background-color: gray;
  position: absolute;
  height: 35px;
  width: 29px;
  left: 150px;
  top: 175px;
}
.mf4 {
  background-color: gray;
  position: absolute;
  height: 35px;
  width: 29px;
  left: 70px;
  top: 175px;
}
.df {
  background-color: gray;
  position: absolute;
  height: 35px;
  width: 29px;
  left: 30px;
  top: 225px;
}
.df2 {
  background-color: gray;
  position: absolute;
  height: 35px;
  width: 29px;
  left: 190px;
  top: 225px;
}
.df3 {
  background-color: gray;
  position: absolute;
  height: 35px;
  width: 29px;
  left: 130px;
  top: 225px;
}
.df4 {
  background-color: gray;
  position: absolute;
  height: 35px;
  width: 29px;
  left: 90px;
  top: 225px;
}
.fw {
  background-color: gray;
  position: absolute;
  height: 35px;
  width: 29px;
  left: 140px;
  top: 65px;
}
.fw2 {
  background-color: gray;
  position: absolute;
  height: 35px;
  width: 29px;
  left: 90px;
  top: 65px;
}
.fw3 {
  background-color: gray;
  position: absolute;
  height: 35px;
  width: 29px;
  left: 160px;
  top: 65px;
  display: none;
}
#tactic_hidden {
  width: 216px;
  height: 330px;
  background: url({% static "blog/tactics/tactic.jpg" %});
  -webkit-filter: grayscale(100%);
  float: left;
  display:none;
}
.tactics {
  width: 216px;
}
input#tactic {
  display: none;
}
.test > button {
  margin: 10px;
}
