<nav class="navbar">
    <div class="container-fluid center">
        <ul class="foot-tabs">
            <li class="foot-text">
                Linki:
            <br><a class="foot" href="">Pierwszy link</a>
            <br><a class="foot" href="">Drugi link</a>
            <br><a class="foot" href="">Trzeci link</a>
            <br><a class="foot" href="">Czwarty link</a>
            </li>
            <li class="foot-text">
                Partnerzy:
            <br><a class="foot" href="">Pierwszy link</a>
            <br><a class="foot" href="">Drugi link</a>
            <br><a class="foot" href="">Trzeci link</a>
            <br><a class="foot" href="">Czwarty link</a>
            </li>
            <li class="foot-text">
                Partnerzy:
            <br><a class="foot" href="">Pierwszy link</a>
            <br><a class="foot" href="">Drugi link</a>
            <br><a class="foot" href="">Trzeci link</a>
            <br><a class="foot" href="">Czwarty link</a>
            </li>
        </ul>
    </div>

    <div class="container-fluid center">
        <ul class="foot">
        <li>All Rights Reserved.</li>
            <span class="label label-default">Default Label</span>
<span class="label label-primary">Primary Label</span>
<span class="label label-success">Success Label</span>
<span class="label label-info">Info Label</span>
<span class="label label-warning">Warning Label</span>
<span class="label label-danger">Danger Label</span>
        </ul>
    </div>
</nav>
