{% load static %}
<div class="row">
  <div class="col-sm-1 col-sm-1-logo">
  <img id="logo" src="{% static "blog/logo.png" %}">
</div>
  <div class="col-sm-11 col-sm-11-logo">
  <div id="logo_text">Tytul strony</div>
</div>
</div>
