{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stronka</title>
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <script async src="{% static "blog/js/jquery.js" %}" type="text/javascript"></script>
    <script async src="{% static "blog/js/bootstrap.js" %}" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link async href="{% static "blog/css/bootstrap.css" %}" rel="stylesheet">
    <link async href="{% static "blog/css/custom.css" %}" rel="stylesheet">
</head>


    <style>
    .header {
        background: url({% static "blog/logo.jpg" %});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 50px;
        font-family: fantasy;
        padding: 10px;
    }
    </style>


<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="header">
                {% include 'blog/header.html' %}
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-sm-12">
                {% include 'blog/menu.html' %}
        </div>
     </div>
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-10">
              <div class="post">
                {% block content %}
                {% endblock content %}
              </div>
      </div>
        <div class="logowanie">
          {% include 'blog/login.html' %}
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2  break">
          {% include 'blog/sidebarright.html' %}
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
          {% include 'blog/sidebarright2.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-footer">
                {% include 'blog/footer.html' %}
            </div>
        </div>
    </div>
</div>
<script src="{% static "blog/js/jquery-ui.js" %}"></script>
<script src="{% static "blog/js/jquery.ui.touch-punch.min.js" %}" type="text/javascript"></script>
<script>
$("document").ready(function() {
$('.logowanie').draggable({containment: 'body'});
});
  </script>
</body>
</html>
