<div class="loginPanel">
            {% if user.is_authenticated %}
                Zalogowany jako: <b>{{ user.username }}</b>
            {% else %}
                Nie jesteś zalogowany.
            {% endif %}</b>

          {% if user.is_authenticated %}
          <li><a href="{% url 'account_email' %}">Zmień e-mail</a></li>
          <li><a href="{% url 'account_logout' %}">Wyloguj się</a></li>
          {% else %}
          <li><a href="{% url 'account_login' %}">Zaloguj sie</a></li>
          <li><a href="{% url 'account_signup' %}">Zarejestruj sie</a></li>
          {% endif %}
</div>
