 {% extends 'blog/index.html' %}
 {% block content %}
 {% load math %}
 <div class="row">
   <div class="col-sm-12 score">
        <h1> {{match.wynik}} </h1>
   </div>
   <div class="col-sm-6">
     <div class="match">
         <h1>{{ match.team1 }}</h1>
         <!--- Goalkeepers sorted by timePlayed -->
         {% for sklad in match.sklad_set.all|dictsortreversed:"team1Players.timePlayed" %}
         {% if sklad.team1Players.timePlayed > 45 %}
         {% if sklad.team1Players != None %}
          {% if sklad.team1Players.position = "GK" %}
          <li> <b>{{ sklad.team1Players.position }}</b>
            {{ sklad.team1Players }}
            {% if sklad.timePlayedP1 = 90 %}
            <span class="time">{{sklad.timePlayedP1}}'</span>
            {% endif %}
            {% if sklad.timePlayedP1 > 45 and sklad.timePlayedP1 < 90 %}
            <span class="time red">{{sklad.timePlayedP1}}'</span>
            {% endif %}
            {% if sklad.goalPlayer1 != 0 %}
            <span class="goal">[{{sklad.goalPlayer1}}]</span></li>
            {% endif %}
          {% endif %}
         {% endif %}
         {% endif %}
         {% endfor %}
         <!--- Defenders sorted by timePlayed -->
         {% for sklad in match.sklad_set.all|dictsortreversed:"team1Players.timePlayed" %}
         {% if sklad.team1Players != None %}
        {% if sklad.team1Players.timePlayed > 45 %}
          {% if sklad.team1Players.position = "DF" %}
          <li> <b>{{ sklad.team1Players.position }}</b>
            {{ sklad.team1Players }}
            {% if sklad.timePlayedP1 = 90 %}
            <span class="time">{{sklad.timePlayedP1}}'</span>
            {% endif %}
            {% if sklad.timePlayedP1 > 45 and sklad.timePlayedP1 < 90 %}
            <span class="time red">{{sklad.timePlayedP1}}'</span>
            {% endif %}
            {% if sklad.goalPlayer1 != 0 %}
            <span class="goal">[{{sklad.goalPlayer1}}]</span></li>
            {% endif %}
          {% endif %}
         {% endif %}
         {% endif %}
         {% endfor %}
         <!--- Mclassifielders sorted by timePlayed -->
         {% for sklad in match.sklad_set.all|dictsortreversed:"team1Players.timePlayed" %}
         {% if sklad.team1Players != None %}
        {% if sklad.team1Players.timePlayed > 45 %}
          {% if sklad.team1Players.position = "MF" %}
          <li> <b>{{ sklad.team1Players.position }}</b>
            {{ sklad.team1Players }}
            {% if sklad.timePlayedP1 = 90 %}
            <span class="time">{{sklad.timePlayedP1}}'</span>
            {% endif %}
            {% if sklad.timePlayedP1 > 45 and sklad.timePlayedP1 < 90 %}
            <span class="time red">{{sklad.timePlayedP1}}'</span>
            {% endif %}
            {% if sklad.goalPlayer1 != 0 %}
            <span class="goal">[{{sklad.goalPlayer1}}]</span></li>
            {% endif %}
          {% endif %}
         {% endif %}
         {% endif %}
         {% endfor %}
         <!--- Forwarders sorted by timePlayed -->
         {% for sklad in match.sklad_set.all|dictsortreversed:"team1Players.timePlayed" %}
         {% if sklad.team1Players != None %}
         {% if sklad.team1Players.timePlayed > 45 %}
          {% if sklad.team1Players.position = "FW" %}
          <li> <b>{{ sklad.team1Players.position }}</b>
            {{ sklad.team1Players }}
            {% if sklad.timePlayedP1 = 90 %}
            <span class="time">{{sklad.timePlayedP1}}'</span>
            {% endif %}
            {% if sklad.timePlayedP1 > 45 and sklad.timePlayedP1 < 90 %}
            <span class="time red">{{sklad.timePlayedP1}}'</span>
            {% endif %}
            {% if sklad.goalPlayer1 != 0 %}
            <span class="goal">[{{sklad.goalPlayer1}}]</span></li>
            {% endif %}
          {% endif %}
         {% endif %}
         {% endif %}
         {% endfor %}
         <!--- Rezerwowi < 45 minut -->
         {% for sklad in match.sklad_set.all|dictsortreversed:"team1Players.timePlayed" %}
         {% if sklad.team1Players != None %}
         {% if sklad.team1Players.timePlayed < 45 %}
          <li> <b>{{ sklad.team1Players.position }}</b>
            {{ sklad.team1Players }}
            <span class="time green">{{ 90|roznica:sklad.timePlayedP1}}'</span>
            {% if sklad.goalPlayer1 != 0 %}
            <span class="goal">[{{ sklad.goalPlayer1}}]</span></li>
          {% endif %}
         {% endif %}
         {% endif %}
         {% endfor %}
       </div>
   </div>
   <div class="col-sm-6">
     <div class="match">
         <h1>{{ match.team2 }}</h1>
         <!--- Goalkeepers sorted by timePlayed -->
         {% for sklad in match.sklad_set.all|dictsortreversed:"team1Players.timePlayed" %}
         {% if sklad.team2Players != None %}
         {% if sklad.team2Players.timePlayed > 45 %}
          {% if sklad.team2Players.position = "GK" %}
          <li> <b>{{ sklad.team2Players.position }}</b>
            {{ sklad.team2Players }}
            {% if sklad.timePlayedP2 = 90 %}
            <span class="time">{{sklad.timePlayedP2}}'</span>
            {% endif %}
            {% if sklad.timePlayedP2 > 45 and sklad.timePlayedP2 < 90 %}
            <span class="time red">{{sklad.timePlayedP2}}'</span>
            {% endif %}
            {% if sklad.goalPlayer2 != 0 %}
            <span class="goal">[{{sklad.goalPlayer2}}]</span></li>
            {% endif %}
          {% endif %}
         {% endif %}
         {% endif %}
         {% endfor %}
         <!--- Defenders sorted by timePlayed -->
         {% for sklad in match.sklad_set.all|dictsortreversed:"team1Players.timePlayed" %}
         {% if sklad.team2Players != None %}
         {% if sklad.team2Players.timePlayed > 45 %}
          {% if sklad.team2Players.position = "DF" %}
          <li> <b>{{ sklad.team2Players.position }}</b>
            {{ sklad.team2Players }}
            {% if sklad.timePlayedP2 = 90 %}
            <span class="time">{{sklad.timePlayedP2}}'</span>
            {% endif %}
            {% if sklad.timePlayedP2 > 45 and sklad.timePlayedP2 < 90 %}
            <span class="time red">{{sklad.timePlayedP2}}'</span>
            {% endif %}
            {% if sklad.goalPlayer2 != 0 %}
            <span class="goal">[{{sklad.goalPlayer2}}]</span></li>
            {% endif %}
          {% endif %}
          {% endif %}
         {% endif %}
         {% endfor %}
         <!--- Mclassifielders sorted by timePlayed -->
         {% for sklad in match.sklad_set.all|dictsortreversed:"team1Players.timePlayed" %}
         {% if sklad.team2Players != None %}
         {% if sklad.team2Players.timePlayed > 45 %}
          {% if sklad.team2Players.position = "MF" %}
          <li> <b>{{ sklad.team2Players.position }}</b>
            {{ sklad.team2Players }}
            {% if sklad.timePlayedP2 = 90 %}
            <span class="time">{{sklad.timePlayedP2}}'</span>
            {% endif %}
            {% if sklad.timePlayedP2 > 45 and sklad.timePlayedP2 < 90 %}
            <span class="time red">{{sklad.timePlayedP2}}'</span>
            {% endif %}
            {% if sklad.goalPlayer2 != 0 %}
            <span class="goal">[{{sklad.goalPlayer2}}]</span></li>
            {% endif %}
          {% endif %}
          {% endif %}
         {% endif %}
         {% endfor %}
         <!--- Forwarders sorted by timePlayed -->
         {% for sklad in match.sklad_set.all|dictsortreversed:"team1Players.timePlayed" %}
         {% if sklad.team2Players != None %}
         {% if sklad.team2Players.timePlayed > 45 %}
          {% if sklad.team2Players.position = "FW" %}
          <li> <b>{{ sklad.team2Players.position }}</b>
            {{ sklad.team2Players }}
            {% if sklad.timePlayedP2 = 90 %}
            <span class="time">{{sklad.timePlayedP2}}'</span>
            {% endif %}
            {% if sklad.timePlayedP2 > 45 and sklad.timePlayedP2 < 90 %}
            <span class="time red">{{sklad.timePlayedP2}}'</span>
            {% endif %}
            {% if sklad.goalPlayer2 != 0 %}
            <span class="goal">[{{sklad.goalPlayer2}}]</span></li>
            {% endif %}
          {% endif %}
          {% endif %}
         {% endif %}
         {% endfor %}
         <!--- Rezerwowi < 45 minut -->
         {% for sklad in match.sklad_set.all|dictsortreversed:"team1Players.timePlayed" %}
         {% if sklad.team2Players != None %}
         {% if sklad.team2Players.timePlayed < 45 %}
          <li> <b>{{ sklad.team2Players.position }}</b>
            {{ sklad.team2Players }}
            <span class="time green">{{ 90|roznica:sklad.timePlayedP2}}'</span>
            {% if sklad.goalPlayer2 != 0 %}
            <span class="goal">[{{ sklad.goalPlayer2}}]</span></li>
          {% endif %}
         {% endif %}
         {% endif %}
         {% endfor %}
       </div>
   </div>
</div>
{% endblock content %}
