{% load account %}
<div class="row">
    <div class="col-sm-12">
<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'post_list' %}">Menu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'post_list' %}">Strona główna<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tabele <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'team' %}">Ekstraklasa</a></li>
            <li><a href="">Drugi</a></li>
            <li><a href="">Trzeci</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ankiety <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'ankieta' %}">Wszystkie ankiety</a></li>
                {% if pytania_ankieta %}
                    {% for question in pytania_ankieta  %}
                        <li><a href="{% url 'detail' question.id %}">{{ question.id }}. {{ question.question_text }}</a></li>
                    {% endfor %}
                {% endif %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sklady <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if lista_druzyn %}
                    {% for team in lista_druzyn %}
                        <li><a href="{% url 'team_detail' pk=team.pk %}">{{ team.team }}</a></li>
                    {% endfor %}
                {% endif %}
          </ul>
        </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Terminarze <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if lista_druzyn %}
                    {% for team in lista_druzyn %}
                        <li><a href="{% url 'team_fixture' pk=team.pk %}">{{ team.team }}</a></li>
                    {% endfor %}
                {% endif %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
</div>
</div>
