{% load math %}
{% load tz %}
  <div>
  <img class="modalPhoto" src="/media/{{ dane.photo }}"/>
  <div class="modalOpis">
  <ul>
    <li>Pozycja: {{ dane.get_position_display }} </li>
    <li>Narodowość: {{ dane.get_nationality_display }}</li>
    <li>Data urodzenia: {{dane.dateOfBirth }}</li>
    <li>Wiek: {% now "Y" as current_year %}
    {{dane.dateOfBirth|date:'Y'|wiek:current_year}}</li>
    <li>Ilość rozegranych spotkań: {{ dane.app }}</li>
    <li>Ilość rozegranych minut: {{ dane.timePlayed }}</li>
    <li>Ilość strzelonych bramek: {{dane.goals }}</li>
    <li>Średnia ilość bramek na mecz: {{ dane.goals|dzielenie:dane.app }} </li>
    <li>Średnio strzela bramkę co: {{ dane.timePlayed|dzielenie:dane.goals }} minut/y</li>
  </ul>
  </div>
</div>
<div style="clear:both;"></div>
