{% extends "blog/index.html" %} {% block content %}
<div id="Carousel-test" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#Carousel-test" data-slide-to="0" class="active"></li>
        <li data-target="#Carousel-test" data-slide-to="1"></li>
        <li data-target="#Carousel-test" data-slide-to="2"></li>
        <li data-target="#Carousel-test" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-responsive img-width-100" src="/media/post/1.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Wiadomosc 1
            <br>
            Tresc wiadomosci</h3>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive img-width-100" src="/media/post/2.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Wiadomosc 2
            <br>
            Tresc wiadomosci</h3>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive img-width-100" src="/media/post/3.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Wiadomosc 3<br>
            Tresc wiadomosci</h3>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive img-width-100" src="/media/post/4.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Wiadomosc 4
            <br>
            Tresc wiadomosci</h3>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#Carousel-test" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#Carousel-test" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{% for post in posty %}
<section>
    <div class="col-sm-6 postDiv">
        <div class="row">
            <div class="col-sm-12">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title.upper|truncatechars:150 }}</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="text">
                    <img class="img-responsive" src="/media/{{ post.obrazek }}">
                </div>
                <br>
                <div class="published">
                    <b>Opublikowany:</b> {{ post.published_date }}
                </div>
            </div>
            <div class="col-sm-12 col-lg-8">
                <div class="text">
                    <i> {{ post.text|truncatechars:400|linebreaksbr }}</i>
                    <br><b><i><a href="{% url 'post_detail' pk=post.pk %}">Czytaj dalej</a></i></b>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<div class="col-sm-12 borderDash">
    <div class="row">
        <div class="pagination">
            <b>Strona: {{ posty.number }} z {{ posty.paginator.num_pages }}</b>
            <ul class="pager">
                {% if posty.has_previous %}
                <li class="previous"><a href="?page={{ posty.previous_page_number }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Poprzednia strona</a></li>
                {% endif %} {% if posty.has_next %}
                <li class="next"><a href="?page={{ posty.next_page_number }}">Nastepna strona <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
