{% extends 'blog/index.html' %}
{% block content %}
    <div class="col-sm-12 borderDash">
    <div class="row">
        <div class="col-sm-12" >
        <b><h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title.upper }}</a></h1></b>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="text">
                <img class="img-responsive" src="/media/{{ post.obrazek }}">
                </div>
                <br>
                <div class="published">
                <b>Opublikowany:</b> {{ post.published_date }}
                </div>
            </div>
            <div class="col-sm-10">
                <div class="text">
                     {{ post.text|linebreaksbr }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
