{% extends 'blog/index.html' %}
{% block content %}
<h1>{{ question.question_text }}</h1>

<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} Głosów </li>
{% endfor %}
</ul>

<a href="{% url 'detail' question.id %}">Zagłosuj ponownie?</a>

{% endblock content %}