<div class="row">
    <div class="col-sm-12">
        <div class="ad text title">
            {% for youtube in youtube %}
            <ul>
                  <h5>{{ youtube.title }}</h5>
                  <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{ youtube.video_id }}?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                  </div>

            </ul>
            {% endfor %}
        </div>
    </div>
</div>
