<div class="row">
    <div class="col-sm-12">
        <div class="text ad">
            Reklamy:
            {% for ad in ad %}
            <ul>
                <a target=_blank href="{{ ad.link }}"> <img src="/media/{{ ad.button }}"></a>
            </ul>
             {% endfor %}
        </div>
    </div>
</div>
