{% extends "blog/index.html" %}
{% block content %}
{% load static %}
<html>
    <head>
        <style>
            #tactic_box {
                width: 216px;
                height: 330px;
                background: url({% static "blog/tactics/tactic.jpg" %});
                float: left;
            }
            .players {
                font-weight: bold;
                text-align: center;
            }
            .draggable {float: left; ; }
            #draggable { cursor: n-resize; }
            #tactic_box  li {
                cursor: pointer;
                float: left;
                list-style-type: none;
                padding: 2px;
            }
            #list li {
                cursor: pointer;
                float: left;
                list-style-type: none;
                padding: 2px;
            }
            .gk {
              background-color: gray;
              position: absolute;
              height: 40px;
              width: 20px;
              left: 112px;
              top: 284px;
            }
            .mf {
              background-color: gray;
              position: absolute;
              height: 35px;
              width: 29px;
              left: 182px;
              top: 134px;
            }
            .mf2 {
              background-color: gray;
              position: absolute;
              height: 35px;
              width: 29px;
              left: 35px;
              top: 134px;
            }
            .mf3 {
              background-color: gray;
              position: absolute;
              height: 35px;
              width: 29px;
              left: 150px;
              top: 175px;
            }
            .mf4 {
              background-color: gray;
              position: absolute;
              height: 35px;
              width: 29px;
              left: 70px;
              top: 175px;
            }
            .df {
              background-color: gray;
              position: absolute;
              height: 35px;
              width: 29px;
              left: 30px;
              top: 225px;
            }
            .df2 {
              background-color: gray;
              position: absolute;
              height: 35px;
              width: 29px;
              left: 190px;
              top: 225px;
            }
            .df3 {
              background-color: gray;
              position: absolute;
              height: 35px;
              width: 29px;
              left: 130px;
              top: 225px;
            }
            .df4 {
              background-color: gray;
              position: absolute;
              height: 35px;
              width: 29px;
              left: 90px;
              top: 225px;
            }
            .fw {
              background-color: gray;
              position: absolute;
              height: 35px;
              width: 29px;
              left: 140px;
              top: 65px;
            }
            .fw2 {
              background-color: gray;
              position: absolute;
              height: 35px;
              width: 29px;
              left: 90px;
              top: 65px;
            }
            .fw3 {
              background-color: gray;
              position: absolute;
              height: 35px;
              width: 29px;
              left: 160px;
              top: 65px;
              display: none;
            }
            #tactic_hidden {
              width: 216px;
              height: 330px;
              background: url({% static "blog/tactics/tactic.jpg" %});
              -webkit-filter: grayscale(100%);
              float: left;
              display:none;
            }
            .tactics {
              width: 216px;
            }
            input#tactic {
              display: none;
            }
            .test > button {
              margin: 10px;
            }
        </style>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="{% static "blog/js/jquery-ui.js" %}"></script>
        <script src="{% static "blog/js/jquery.ui.touch-punch.min.js" %}" type="text/javascript"></script>
    </head>
    <body>
      <div class="row">
      <div class="col-sm-4">
      <div class="tactics">
        <div id="tactic_box">
        <div class="gk"></div>
        <div class="df"></div>
        <div class="df2"></div>
        <div class="df3"></div>
        <div class="df4"></div>
        <div class="mf"></div>
        <div class="mf2"></div>
        <div class="mf3"></div>
        <div class="mf4"></div>
        <div class="fw"></div>
        <div class="fw2"></div>
        <div class="fw3"></div>
      </div>
        <div id="tactic_hidden"></div>
      </div>
    </div>
      <div class="col-sm-4">
        <div class="test">
          <h1>Wybierz taktyke</h1>
          <button id="tactic_442">4-4-2</button>
          <button id="tactic_343">3-4-3</button>
      </div>
        <form id="tacticForm" action="" method="post">{% csrf_token %}
          <input type="text" name="tactic" id="tactic" />
          <input type="submit" id="save" value="Zapisz taktyke" />
        </form>
        <div id="list">
          Lista Zawodnikow:<br>
          {% for dane in team.zawodnik_set.all|dictsort:"number" %}
          {% if dane.position = "GK" %}
            <li class="{{dane.position}}" id="{{dane.id}}">
                    <div class="players"><span>{{dane.number}}</span></div>
                    <img src="{% static "blog/tactics/player.png" %}" width="20" height="20">
            </li>
            {% endif %}
            {% if dane.position = "DF" %}
              <li class="{{dane.position}}" id="{{dane.id}}">
                      <div class="players"><span>{{dane.number}}</span></div>
                      <img src="{% static "blog/tactics/player.png" %}" width="20" height="20">
              </li>
              {% endif %}
              {% if dane.position = "MF" %}
                <li class="{{dane.position}}" id="{{dane.id}}">
                        <div class="players"><span>{{dane.number}}</span></div>
                        <img src="{% static "blog/tactics/player.png" %}" width="20" height="20">
                </li>
                {% endif %}
                {% if dane.position = "FW" %}
                  <li class="{{dane.position}}" id="{{dane.id}}">
                          <div class="players"><span>{{dane.number}}</span></div>
                          <img src="{% static "blog/tactics/player.png" %}" width="20" height="20">
                  </li>
                  {% endif %}
            {% endfor %}
        </div>
      </div>
      <div class="col-sm-4">
      {% if user.is_authenticated %}
        {% for tacticData in tacticAll %}
        {% if user.id == tacticData.author.id  %}
        <li>{{tacticData.created_date|date:"M d, Y" }}
        <button class="taktyka_{{tacticData.id}}">Wczytaj taktyke!</button></li>
        {% endif %}
        {% endfor %}
    {% else %}
        Nie jesteś zalogowany, zeby ustawic taktyke musisz sie zalogowac!
    {% endif %}
  </div>
    </div>

        <script>
$("document").ready(function() {
{% if user.is_authenticated %}
  drag_drop();


  var content = $('#tactic_box').html()
//  var list = $('#list').html() lista zawodnikow
  $('#tactic_343').on('click', function() {
    var $tactic_box = $('#tactic_box')
    $tactic_box.children().detach();
    $tactic_box.append(content)
    $tactic_box.find('.df').animate({left: '+=20'},0);
    $tactic_box.find('.df2').animate({left: '-=20'},0);
    $tactic_box.find('.df3').animate({left: '-=20'},0);
    $tactic_box.find('.df4').hide();
    $tactic_box.find('.fw').animate({left: '-=30'},0);
    $tactic_box.find('.fw2').animate({left: '-=30'},0);
    $tactic_box.find('.fw3').show();
    drag_drop();
  })

  $('#tactic_442').on('click', function() {
    var $tactic_box = $('#tactic_box')
    $tactic_box.children().detach();
    $tactic_box.append(content)
    $tactic_box.find('.fw3').hide();
    drag_drop();
  })

  {% autoescape off %}
  {% for tacticData in tacticAll %}
    $('.taktyka_{{tacticData.id}}').on('click', function() {
      var content = ('{{tacticData.tactic}}')
      $('#tactic_hidden').children().detach();
      $('#tactic_hidden').append('p').html('Zapisana taktyka:').css('font-weight', 'bold');
      $('#tactic_hidden').append(content);
      $('#tactic_hidden').children().animate({top:'+=330'},0);
      $('#tactic_hidden').show();
      alert('Wczytano zapisana taktyke!')
  });
  {% endfor %}
  {% endautoescape %}


$('#save').on('click', function() {
    var $tactic_box = $('#tactic_box')
    var positions = $tactic_box.children().children().length > 10
    /* dla danych pozycji (bez zmiany taktyk 442 / 343)
    $tactic_box.find('.gk').children().length > 0 && $tactic_box.find('.df').children().length > 0
    && $tactic_box.find('.df2').children().length > 0 && $tactic_box.find('.df3').children().length > 0 && $tactic_box.find('.df4').children().length > 0
    && $tactic_box.find('.mf').children().length > 0 && $tactic_box.find('.mf2').children().length > 0 && $tactic_box.find('.mf3').children().length > 0
    && $tactic_box.find('.mf4').children().length > 0 && $tactic_box.find('.fw').children().length > 0  && $tactic_box.find('.fw2').children().length > 0
    */
    if (positions) {
    var content = $tactic_box.html();
    $('#tactic').val(content);
    alert('Taktyka zostala zapisana');
    drag_drop();
  }
    else {
    alert('Za malo zawodnikow!');
    drag_drop();
  }
  });

function drag_drop() {
{% for dane in team.zawodnik_set.all|dictsort:"number" %}

    $('#{{dane.id}}').draggable({
      revert: true,
      cursor: 'move'
    });

{% if dane.position = "GK" %}
    $(".gk").droppable({
      accept: '.{{dane.position}}',
      drop: function(event, ui) {
      if ($(this).children().length > 0) {
        var move = $(this).children().detach();
        $(ui.draggable).parent().append(move);
      }

        $(this).append($(ui.draggable)).css('background-color', 'transparent');
      }
    });
{% endif %}
{% if dane.position = "DF" %}
    $(".df, .df2, .df3, .df4").droppable({
      accept: '.{{dane.position}}',
      drop: function(event, ui) {
      if ($(this).children().length > 0) {
        var move = $(this).children().detach();
        $(ui.draggable).parent().append(move);
      }

        $(this).append($(ui.draggable)).css('background-color', 'transparent');
      }
    });
{% endif %}
{% if dane.position = "MF" %}
    $(".mf, .mf2, .mf3, .mf4").droppable({
      accept: '.{{dane.position}}',
      drop: function(event, ui) {
      if ($(this).children().length > 0) {
        var move = $(this).children().detach();
        $(ui.draggable).parent().append(move);
      }

        $(this).append($(ui.draggable)).css('background-color', 'transparent');
      }
    });
{% endif %}
{% if dane.position = "FW" %}
    $(".fw, .fw2, .fw3").droppable({
      accept: '.{{dane.position}}',
      drop: function(event, ui) {
      if ($(this).children().length > 0) {
        var move = $(this).children().detach();
        $(ui.draggable).parent().append(move);
      }

        $(this).append($(ui.draggable)).css('background-color', 'transparent');
      }
    });
{% endif %}
  {% endfor %}
};
{% else %}
  alert('Musisz byc zalogowany!')
{% endif %}
});
        </script>
    </body>
</html>
{% endblock content %}
