{% extends "blog/index.html" %}
    {% block content %}
        {% load math %}
        <div class="row">
        <div class="col-sm-8">
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove"></span></button>
              <a href="{% url 'match' pk=46 %}">Sklady zaktualizowane dla meczu Lechia Gdansk - Wisla Krakow</a>
          </div>
            <table class="table table-bordered table-team">
             <tr class="active">
               <td>Nazwa drużyny</td>
                <td>Win</td>
                <td>Draw</td>
                <td>Lose</td>
                <td>Goal diff.</td>
                <td>Points</td>
             </tr>
{% for team in teams %}
            <tr class="tr_color">
                <td><a class="link_table" href="{% url 'team_detail' pk=team.pk %}"> {{ team.team }} </a></td>
                <td>{{ team.win }}</td>
                <td>{{ team.draw }}</td>
                <td>{{ team.lose }}</td>
                <td>{{ team.strzelone_home|suma:team.strzelone_away|roznica:team.stracone_home|roznica:team.stracone_away }}</td>
                <td>{{ team.points }}</td>
            </tr>
{% endfor %}
            </table>
        </div>
<div class="col-sm-4 gamesPlayed">
    <h1>KOLEJKA 3</h1>
        {% regroup kolejka3 by published_date|date:"Y-m-d" as objects_by_day %}
            {% for day in objects_by_day %}
                <br><b>{{day.list.0.published_date|date:"M d Y"}}</b>
                    {% for kolejka in day.list %}
                        <li><a href="{% url 'match' pk=kolejka.pk %}">{{ kolejka }}</a></li>
                    {% endfor %}
            {% endfor %}

    <h1>KOLEJKA 2</h1>
        {% regroup kolejka2 by published_date|date:"Y-m-d" as objects_by_day %}
            {% for day in objects_by_day %}
                <br><b>{{day.list.0.published_date|date:"M d Y"}}</b>
                    {% for kolejka in day.list %}
                        <li>{{ kolejka }}</li>
                    {% endfor %}
            {% endfor %}

    <h1>KOLEJKA 1</h1>
        {% regroup kolejka1 by published_date|date:"Y-m-d" as objects_by_day %}
            {% for day in objects_by_day %}
                <br><b>{{day.list.0.published_date|date:"M d Y"}}</b>
                    {% for kolejka in day.list %}
                        <li>{{ kolejka }}</li>
                    {% endfor %}
            {% endfor %}




</div>
        </div>
    {% endblock content %}
