  {% extends 'blog/index.html' %}
{% block content %}
    {% load math %}
    <div class="row">
        <div class="col-sm-6">
        <h1>Statystyki drużyny:<br>{{ team_fixture.team }}</h1>
       <table class="table table-bordered table-team">
             <tr class="active">
               <td>Team</td>
                <td>Win</td>
                <td>Draw</td>
                <td>Lose</td>
                <td>Points</td>
           </tr>

            <tr>
                <td rowspan="3" class="warning middle_text">{{ team_fixture.team }}</td>
                <td>{{ team_fixture.win }}</td>
                <td>{{ team_fixture.draw }}</td>
                <td>{{ team_fixture.lose }}</td>
                <td rowspan="3" class="middle_text">{{ team_fixture.points }}</td>
           </tr>
           <tr class="active">
               <td>Goal(+)</td>
               <td>Goal(-)</td>
               <td>Goal diff.</td>
           </tr>

           <tr>
                <td>+{{ bramki_home|suma:bramki_away }}</td>
                <td>-{{ stracone_home|suma:stracone_away }}</td>
                <td>{{ bramki_home|roznica:stracone_home|suma:bramki_away|roznica:stracone_away }}</td>
            </tr>
            </table>
        </div>
        <div class="col-sm-6 deletePaddingLeft">
        <h1>Terminarz drużyny:<br>{{ team_fixture.team }}</h1>
                {% regroup wyniki2 by published_date|date:"Y-m-d" as terminarz_dzien %}
                    {% for mecz_dzien in terminarz_dzien %}
                        <br><b>{{mecz_dzien.list.0.published_date|date:"M d Y"}}</b>
                                    {% for mecz in mecz_dzien.list %}
                                    <li>{{ mecz }}</li>
                                    {% endfor %}
                {% endfor %}
        <br><br>
        </div>
        <div class="col-sm-12">
            <h2>Mecze u siebie/na wyjezdzie</h2>
            <div class="panel-group" id="accordion">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">HOME</a>
                </h1>
            </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                    <div class="col-sm-6 deletePaddingLeft">
          <table class="table table-bordered">
             <tr class="active">
               <td>Team</td>
                <td>Win</td>
                <td>Draw</td>
                <td>Lose</td>
                <td>Points</td>
           </tr>

            <tr>
                <td rowspan="3" class="warning middle_text">{{ team_fixture.team }} </td>
                <td>{{ team_fixture.win_home }}</td>
                <td>{{ team_fixture.draw_home }}</td>
                <td>{{ team_fixture.lose_home }}</td>
                <td rowspan="3" class="middle_text"> {{ team_fixture.points_home }}</td>
           </tr>
           <tr class="active">
               <td>Goal(+)</td>
               <td>Goal(-)</td>
               <td>Goal diff.</td>
           </tr>

           <tr>
                <td>+{{ bramki_home|default_if_none:0 }}</td>
                <td>-{{ stracone_home|default_if_none:0 }}</td>
                <td>{{ bramki_home|roznica:stracone_home }}</td>
            </tr>
            </table>
                    </div>
                    <div class="col-sm-6">
                        <b><h1>Gospodarz:</h1></b>
                            {% regroup wyniki2_home by published_date|date:"Y-m-d" as terminarz_home %}
                                {% for mecz_dzien in terminarz_home %}
                                    <br><b>{{mecz_dzien.list.0.published_date|date:"M d Y"}}</b>
                                            {% for mecz in mecz_dzien.list %}
                                            <li>{{ mecz }}</li>
                                            {% endfor %}
                                {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">AWAY</a>
                </h1>
            </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                    <div class="col-sm-6 deletePaddingLeft">
                        <table class="table table-bordered table-team">
             <tr class="active">
               <td>Team</td>
                <td>Win</td>
                <td>>Draw</td>
                <td>Lose</td>
                 <td>Points</td>
           </tr>

            <tr>
                <td rowspan="3" class="warning middle_text">{{ team_fixture.team }}</td>
                <td>{{ team_fixture.win_away }}</td>
                <td>{{ team_fixture.draw_away }}</td>
                <td>{{ team_fixture.lose_away }}</td>
                <td rowspan="3" class="middle_text"> {{ team_fixture.points_away }} </td>
           </tr>
           <tr class="active">
               <td>Goal(+)</td>
               <td>Goal(-)</td>
               <td>Goal diff.</td>
           </tr>

           <tr>
                <td>+{{ bramki_away|default_if_none:0 }}</td>
                <td>-{{ stracone_away|default_if_none:0 }}</td>
                <td>{{ bramki_away|roznica:stracone_away }}</td>
            </tr>
            </table>
                    </div>
                    <div class="col-sm-6 deletePaddingLeft">
                        <b><h1>Goscie:</h1></b>
                            {% regroup wyniki2_away by published_date|date:"Y-m-d" as terminarz_wyjazd %}
                                {% for mecz_dzien in terminarz_wyjazd %}
                                    <br><b>{{mecz_dzien.list.0.published_date|date:"M d Y"}}</b>
                                            {% for mecz in mecz_dzien.list %}
                                            <li>{{ mecz }}</li>
                                            {% endfor %}
                                {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-sm-12">
            {% load static %}
            <img id="player" src="{% static "blog/boxhouse_main.jpg" %}"/>
            </div>
        </div>

{% endblock content %}
