 {% extends 'blog/index.html' %} {% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Skład drużyny: {{ team_detail.team }}</h1>
        <table class="table table-bordered table-mini">
            <tr class="active">
                <td>Imie i nazwisko</td>
                <td>Numer</td>
                <td>Rok urodzenia</td>
                <td>Pozycja</td>
                <td>Narodowość</td>
            </tr>
            {% for dane in team_detail.zawodnik_set.all|dictsort:"surname" %}
            <tr class="tr_color">
            <td>
                <a data-toggle="modal" data-target="#{{ dane.id }}" class="link_table">{{ dane.name }} {{ dane.surname }}</a>
            </td>
            <!-- Modal -->
            <div class="modal fade" id="{{ dane.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h1 class="modal-title" id="myModalLabel">{{ dane.name }} {{ dane.surname }}</h1>
                        </div>
                        <div class="modal-body">
                              {% include 'blog/modal.html' %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
              </div>
                <td>{{ dane.number }} </td>
                <td>{{ dane.dateOfBirth }}</td>
                <td>{{ dane.position }}</td>
                <td>{{ dane.get_nationality_display }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}
