$czerwony : red;
$niebieski : blue;
$zielony : green;
$czarny : #000000;
$szary : gray;
$bialy : #fff;

@keyframes win {
    from {color: $czarny;
      font-size: 15px;
    }
    to {color: $zielony;
      font-size: 50px;
    }
}

@mixin kolorki($czcionka, $tlo) {
  color: $czcionka;
  background-color: $tlo;
}

@mixin text($pozycja, $rozmiar){
  text-align: $pozycja;
  font-size: $rozmiar;
}

:focus {
    outline:none;
}

.title {
  @include text(center, 40px);
}

.leftSide {
    float:left;
    width: 750px;
}

.rightSide {
  @include kolorki($niebieski, $bialy);
    float: right;
    width: 240px;
    border: 1px solid $czarny;
}

.clear {
    content: " ";
    clear: both;
}

.fortune {
  @include kolorki($czarny, none);
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    background-image: url("images/tlo1.jpg");
}

.guessLetter {
    width: 30%;
    padding: 2px;
    margin: 2px;
    box-shadow: 1px 1px 5px #888888;
}

.phrase {
    @include text(center, 40px);
    letter-spacing: 18pt;
}

.limit {
    margin: 0 auto;
    padding-top: 30px;
    @include kolorki($czerwony, none);
    @include text(center, 20px);
}

.correct {
  @include kolorki($czarny, $zielony);
}

.incorrect {
    @include kolorki($czarny, $czerwony);
}

.unclickable {
    @include kolorki($szary, $czarny);
    &:hover {
      @include kolorki($szary, $czarny);
    }
}

.win {
    @include kolorki($zielony, none);
    @include text(center, 30px);
    border-radius: 5px;
    -webkit-animation-name: win;
  -webkit-animation-duration: 4s;
  animation-name: win;
  animation-duration: 4s;
}

.lose {
    @include kolorki($czerwony, none);
    @include text(center, 30px);
    border-radius: 5px;
}


button, input {
  @include text(center, 20px);
  width: 100%;
  &:hover {
  @include kolorki($bialy, $czarny);
  @include text(center, 20px)
  }
}

.counter, .usedLettersBox {
  @include kolorki($czarny, $bialy);
  @include text(left, 20px);
}

#guessBtn {
  @include text(center, 15px);
}

.letterBox {
  @include text(center, 15px);
}
