@keyframes win {
  from {
    color: #000000;
    font-size: 15px;
  }
  to {
    color: green;
    font-size: 50px;
  }
}
:focus {
  outline: none;
}

.title {
  text-align: center;
  font-size: 40px;
}

.leftSide {
  float: left;
  width: 750px;
}

.rightSide {
  color: blue;
  background-color: #fff;
  float: right;
  width: 240px;
  border: 1px solid #000000;
}

.clear {
  content: " ";
  clear: both;
}

.fortune {
  color: #000000;
  background-color: none;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
  background-image: url("images/tlo1.jpg");
}

.guessLetter {
  width: 30%;
  padding: 2px;
  margin: 2px;
  box-shadow: 1px 1px 5px #888888;
}

.phrase {
  text-align: center;
  font-size: 40px;
  letter-spacing: 18pt;
}

.limit {
  margin: 0 auto;
  padding-top: 30px;
  color: red;
  background-color: none;
  text-align: center;
  font-size: 20px;
}

.correct {
  color: #000000;
  background-color: green;
}

.incorrect {
  color: #000000;
  background-color: red;
}

.unclickable {
  color: gray;
  background-color: #000000;
}
.unclickable:hover {
  color: gray;
  background-color: #000000;
}

.win {
  color: green;
  background-color: none;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  -webkit-animation-name: win;
  -webkit-animation-duration: 4s;
  animation-name: win;
  animation-duration: 4s;
}

.lose {
  color: red;
  background-color: none;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
}

button, input {
  text-align: center;
  font-size: 20px;
  width: 100%;
}
button:hover, input:hover {
  color: #fff;
  background-color: #000000;
  text-align: center;
  font-size: 20px;
}

.counter, .usedLettersBox {
  color: #000000;
  background-color: #fff;
  text-align: left;
  font-size: 20px;
}

#guessBtn {
  text-align: center;
  font-size: 15px;
}

.letterBox {
  text-align: center;
  font-size: 15px;
}
